.side-bar {
  width: 35%;
  height: 100%;
  background: #F2F2F2;
  padding: 40px 0;
  border-radius: 10px 0 0 10px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 40px;
}

.side-bar header h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.side-bar header svg {
  color: rgba(0, 0, 0, 0.8);
  width: 22px;
  height: 22px;
  transition: all .5s ease;
}

.add {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
}
.side-bar header div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.side-bar header svg:hover {
  color: #F2F2F2;
}

.side-bar-content {
  height: 80%;
  overflow-y: scroll;
  padding: 0 60px;
}

.expense-sidebar {
  background: #FFF;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 0 40px;
  padding: 20px;
  transition: 0.3s ease;
  filter: grayscale(1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.active {
  border-color: #38c5ff;
  filter: grayscale(0);
}


.expense-sidebar:hover, .expense-sidebar:focus {
  border-color: #38c5ff;
  filter: grayscale(0);
}

.expense-sidebar p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 1px;
}

@media (max-width: 942px) and (min-width: 658px) {
  .side-bar-content {
    padding: 30px;
  }
  .expense-sidebar {
    padding: 5px;
    width: 100%;
    height: 80px;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: 657px) and (min-width: 485px){
  .side-bar-content {
    padding: 40px 5px 40px 5px;
  }
  .expense-sidebar {
    padding: 0;
    width: 100%;
    height: 80px;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: 484px) and (min-width: 2px){
  .side-bar-content {
    padding: 40px 5px 40px 5px;
  }
  .expense-sidebar {
    padding: 0;
    width: 100%;
    height: 80px;
    align-items: flex-start;
    justify-content: center;
  }

  .expense-sidebar p {
    font-size: 12px;
  }

  .side-bar header h1 {
    font-size: 20px;
  }

}