.body-wallet {
  width: 100%;
  height: 100%;
  background-color: #c7dff7;
  display: flex;
  align-items: center;
  justify-content: center
}
.wallet {
  width: 60%;
  height: 80%;
  display: flex;
  border-radius: 100%;
}

@media (max-width: 1200px) {
  .wallet {
    width: 90%;
    height: 90%;
  }
}